@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #b400ff;
    --secondary: #333333;
    --success: #00FFFF;
    --info: #F6EB14;
    --warning: #EE1D47;
    --light: #eaeaea;
    --gray: #919191;
    --dark: black;
    --font-family-sans-serif: 'Poppins', sans-serif;
}

html, body {
    background-color: black;
    color: white;
    font-family: var(--font-family-sans-serif);
}

h1, .h1 {
    font-weight: 800;
    text-transform: uppercase;
}

h2, .h2 {
    font-weight: 600;
    text-transform: uppercase;
}

h3, .h3, .nav-link {
    font-weight: 500;
    text-transform: uppercase;
}

h4, .h4 {
    font-weight: 400;
    text-transform: uppercase;
}

h5, .h5 {
    text-transform: uppercase;
}

h6, .h6 {
    text-transform: uppercase;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--light);
}

/* Selects divs with bg modifier */
div[class^="bg-c"] a {
    color: var(--black);
}

.bg-c-dark a {
    color: var(--light);
}

a:hover {
    color: var(--primary);
}


.card, .card-footer, .card-header, .modal-content, .modal-header, .modal-footer {
    background-color: #eaeaea;
    color: black;
    border: none;
}

.card-subtitle {
    margin-top: 16px;
    margin-bottom: 4px;
}

.form-control {
    border: solid white 1px;
    border-radius: 0px;
    background-color: black;
    color: #eaeaea;
}

.form-control:focus {
    border: solid var(--primary) 1px;
    border-radius: 0px;
    background-color: black;
    color: #eaeaea;
    outline: none;
}

.rdtPicker {
    background: black;
}

.btn {
    border-radius: 0;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #eaeaea;
    color: black;
}

/* Button Hover */

.bg-c-primary.btn:hover, .bg-c-primary.btn:focus {
    color: var(--primary);
    background-color: var(--dark);
}

.bg-c-info.btn:hover, .bg-c-info.btn:focus {
    color: var(--info);
    background-color: var(--dark);
}

.bg-c-success.btn:hover, .bg-c-success.btn:focus {
    color: var(--success);
    background-color: var(--dark);
}

.bg-c-warning.btn:hover, .bg-c-warning.btn:focus {
    color: var(--warning);
    background-color: var(--dark);
}

.bg-c-light.btn:hover, .bg-c-light.btn:focus {
    color: var(--light);
    background-color: var(--dark);
}

.bg-c-dark.btn:hover, .bg-c-dark.btn:focus {
    color: var(--dark);
    background-color: var(--light);
}

/* Navbar */

.nav-link {
    color: var(--light);
    transition: color ease-in 0.2;
}

/* Background modifiers */

.bg-c-primary {
    background-color: var(--primary);
    color: var(--dark);
}

.bg-c-info {
    background-color: var(--info);
    color: var(--dark);
}

.bg-c-success {
    background-color: var(--success);
    color: var(--dark);
}

.bg-c-warning {
    background-color: var(--warning);
    color: var(--dark);;
}

.bg-c-light {
    background-color: #eaeaea;
    color: var(--dark);
}

.bg-c-dark {
    background-color: var(--dark);
    color: var(--light);
}

/* Text Modifier */

.txt-c-primary {
    color: var(--primary);
}

.txt-c-info {
    color: var(--info);
}

.txt-c-success {
    color: var(--success);
}

.txt-c-warning {
    color: var(--warning);
}

.txt-c-light {
    color: var(--light);
}

.txt-c-dark {
    color: var(--dark);
}
