.icon {
    width: 48px;
    padding: 4px;
}

.assetList {
    font-size: 14pt;
}

.center-items {
    display: flex;
    flex: 1;
    align-items: center;
}

.card-horizontal {
    display: flex;
    flex: 1;
}

.img-square-wrapper {
    object-fit: contain;
}

.card-body-overflow {
    display: grid;
    padding: 20px;
    height: 20rem;
    grid-template-rows: auto 1fr auto;
}

.jumbotron {
    border-radius: 0px;
}